VITE_SUPABASE_URL=https://exuepxjcqqqnukjujooi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4dWVweGpjcXFxbnVranVqb29pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1NjkyNDIsImV4cCI6MjEwNTE0NTI0Mn0.MjlbZ7waICHcG_9VdZK9vbKBoqgUs7MQHHU_Hj9t-e4
